{%extends 'base.html'%}
{% load static %}


{% block content %}

<hr>
<br/>
<h1 class="signup-h1">signup</h1>
<br/>
<div class="register-div">
{% if errors %}

<p class="login-p">{{errors}}</p>

{%endif%}

<form class="signup-form" action="" method="POST" class="register">
    <legend>
        

        {% csrf_token %}
        {{ form.as_p }}

        <input class="signup-input" type="submit" value="submit">
    </legend>
</form>
</div>

<div class="home-div">   
    <img class="home-img" src="{% static 'imgs/IMG_8711.PNG' %}"/>
</div>

 {% endblock %}