{% extends 'base.html' %}
{% load static %}

{% block content %}
            
                <hr>
                <br/>
                <br/>
                <h1 class="about-h1">- about sammi -</h1>
                <h4 class="about-h4">welcome</h4>
                <br/>
                
                <img class="about-img" src="{% static 'imgs/IMG_8704.PNG' %}"/>

                <p class="about-p-top">Sammi is an avid lover of fashion, music, beauty & style; combining designer & luxury with her heavily tattooed body. She loves to juxtapose within her outfits – think an unexpected leather harness over a feminine dress.</p>
                <br>
                <p class="about-p">With an aim to show others to always wear whatever they want to, she launched her blog in 2017, with simple outfit shots and snappy descriptions. She decided to dedicate time to her Instagram in early 2018 to see where it could take her, posting daily and creating speedy outfit videos.</p>
                <br>
                <p class="about-p">Sammi has collaborated with NARS, Spotify, Maison Margiela, Christian Louboutin Beauty, Laura Mercier, Free People & YSL Beauty to name a few.</p>
                <br>
                <p class="about-p">all enquires:email@email.co.uk</p>
                

               

                
{% endblock %}