{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=UnifrakturMaguntia&display=swap" rel="stylesheet">

   
    <title>sammi's corner</title>
</head>
<body>
    <header class="base-header">
        <nav class="nav-bar">
            <ul>
                <li>
                    <a class="base-anchor" href="/">home</a>
                </li>

                <li>
                    <a class="base-anchor" href="/about">about</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a class="base-anchor" href="/posts">blog</a>
                </li>

                <li>
                    <a class="base-anchor" href="/jewelry">jewelry</a>
                </li>

                <li>
                    <a class="base-anchor" href="/beauty">beauty</a>
                </li>

                <li>
                    <a class="base-anchor" href="/posts/new">new post</a>
                </li>

                <li>    
                    <a class="base-anchor" href="/accounts/logout">logout</a>
                </li>
                {% else %}
                <li>
                    <a class="base-anchor" href="/accounts/login">login</a>
                </li>

                <li>
                    <a class="base-anchor" href="/accounts/register">signup</a>
                </li>
                {% endif %}
            </ul>
            <form class="search" action="{% url 'search-posts' %}" method="POST">
                {% csrf_token %}
                <input class="search-inpt" type="search" placeholder="search posts" name="searched"/>
                <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </nav>
    </header>
    <h1 class="base-logo">sammi's corner</h1>
        <h4 class="base-h4">fuelled by coffee +</h4>
        <h4 class="base-h4-two">a killer outfit</h4>
        <main>
            {% block content %}

            {% endblock %}
        </main>
        <hr>
        
        <h4>- live in the now, as you are -</h4>   
    <div class="div-bottom">
        <ul class="nav-bottom">
            <li>
                <a class="base-anchor" href="/">home</a>
            </li>

            <li>
                <a class="base-anchor" href="/about">about</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a class="base-anchor" href="/posts">blog</a>
            </li>

            <li>
                <a class="base-anchor" href="/jewelry">jewelry</a>
            </li>

            <li>
                <a class="base-anchor" href="/beauty">beauty</a>
            </li>

            <li>
                <a class="base-anchor" href="/posts/new">new post</a>
            </li>
            {% endif %}
        </ul>
        <div class="icons">
        <a href='https://www.pinterest.com/sammijefcoate/_saved/'><i class="fab fa-pinterest"></i></a>
        <a href='https://www.instagram.com/sammijefcoate/'><i class="fab fa-instagram"></i></a>
        <a href='https://www.tiktok.com/@sammi_jefcoate?lang=en'><i class="fab fa-tiktok"></i></a>
        <a href='https://www.youtube.com/c/SammiJefcoate/featured'></a><i class="fab fa-youtube"></i>
    </div>
    </div>
    <footer>
        <p>copyright &copy; all rights reserved - sammi's corner 2021</p>
    </footer>
</body>
</html>