{% extends 'base.html' %}
{% load static %}

{% block content %}
           
            <hr>
            <br/>
            <h1 class="beauty-h1">- beauty -</h1>
            <img class="beauty" src="{% static 'imgs/sammibeauty.png' %}"/>

            <div class="beauty-area">
            <a href='https://bit.ly/3yar3O9' target='_blank'><img class="beauty-img" src="{% static 'imgs/Screen Shot 2021-07-28 at 12.20.04 PM.png' %}"/></a>

            <a href='https://bit.ly/2UXpq82' target='_blank'><img class="beauty-img" src="{% static 'imgs/Screen Shot 2021-07-28 at 12.32.50 PM.png' %}"/></a>

            <a href='https://seph.me/3iaDZhc' target='_blank'><img class="beauty-img" src="{% static 'imgs/Screen Shot 2021-07-28 at 12.22.44 PM.png' %}"/></a>

            <a href='https://bit.ly/2TENBr8' target='_blank'><img class="beauty-img" src="{% static 'imgs/Screen Shot 2021-07-28 at 12.24.24 PM.png' %}"/></a>

            <a href='https://bit.ly/3rECaME' target='_blank'><img class="beauty-img" src="{% static 'imgs/Screen Shot 2021-07-28 at 12.21.40 PM.png' %}"/></a>
        </div>
{% endblock %}
