{% extends 'base.html' %}
{% load static %}

{% block content %}       
    
                <hr>
                <br/>
                <h1 class="jewelry-h1">- jewelry -</h1>

                 <img class="jewelry-img" src="{% static 'imgs/2019-09-282B06.01.482B3.jpg' %}"/>
                <div class="jewelry-area">

                <a href='https://bit.ly/3x4n4Bi' target='_blank'><img class="jewels" src="{% static 'imgs/Screen Shot 2021-07-28 at 12.18.39 PM.png' %}"/></a>

                <a href='https://bit.ly/3BQFB7F' target='_blank'><img class="jewels" src="{% static 'imgs/Screen Shot 2021-07-28 at 12.15.10 PM.png' %}"/></a>

                <a href='https://bit.ly/3rDwzGt' target='_blank'><img class="jewels" src="{% static 'imgs/Screen Shot 2021-07-28 at 12.13.14 PM.png' %}"/></a>

                <a href='https://bit.ly/3BSbXz3' target='_blank'><img class="jewels" src="{% static 'imgs/Screen Shot 2021-07-28 at 12.13.46 PM.png' %}"/></a>

                <a href='https://bit.ly/3zBDwL0' target='_blank'><img class="jewels" src="{% static 'imgs/Screen Shot 2021-07-30 at 12.21.07 PM.png' %}"/></a>
            </div>
            
{% endblock %}