{% extends 'base.html'%}
{% load static %}


{% block content %}

<hr>
<br/>

<h1 class="new-h1">create a new post</h1>
<br/><br/><br/>
<img class="new-img" src="{% static 'imgs/9732717D-C7C8-4C01-876E-4F863BD3DCB0-1024x759.jpeg' %}"/>


<form class="new-form" action="" method='POST' >

    {% csrf_token %}
    {{ form.media }}
    {{ form }}
    
    

</form>

<form class="new-form" action="{% url 'add_photo' post.id %}" method='POST' enctype='multipart/form-data'>

    {% csrf_token %}
    {{ form.media }}
   
    <input class="new-input" type='file' name='photo-file' />
    <br/>
    <br/>
    <input class="new-input" type='submit' value='create a post'/>

</form>


{% endblock %}