{% extends 'base.html' %}

{% block content %}

    {% if searched %}
        <hr>
        <br/>
        <h1 class="search-h1">you searched for {{ searched }}</h1>
        <br/>
        <div class="search-div">
        {% for post in posts%}
            <a class="search-a" href='/posts/{{post.id}}'><p>{{ post }}</p></a>
            <br/>
        {% endfor %}
 
    {% else %}
        <h1 class="search-h1">you must search for a post...</h1>
    {% endif %}
        </div>

               

                
{% endblock %}