* {
    box-sizing: border-box;
    margin: 0;
 
}   

/* ========== base.html ========== */
.base-header {
    background-color: black;
    height: 50px ;
}

.base-logo {
    font-family: UnifrakturMaguntia;
    font-size: 40px;
    margin: 12px;
}

.base-h4, .base-h4-two {
    font-family: Roboto;
    font-size: 18px;
    margin-left: 60px;
}

.base-h4-two {
    margin-top: 8px;
    margin-left: 109px;
}

.base-anchor {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 13px; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin-left: 490px;
    margin-top: 10px;  
}

li {
    display: inline;
    padding: 5px;
}

.search {
    margin-top: 10px;
    margin-right: 10px;
}

.search-inpt {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 12px;
    color: white;
    font-family: roboto;
    font-size: 10px;
} 

.search-inpt::placeholder{
    color: white;
    font-family: roboto;
    font-size: 10px;
    text-align: center;
    padding: 2px;
}

.search-inpt:focus {
    outline: 1px solid transparent;
    border: 1px solid white;
    background-color: transparent;
}

.fa-search {
    color: white;
}

.search-btn { 
    background-color: transparent;
    border: none;
}

.div-bottom {
    background-color: black;
    height: 50px;
}

.nav-bottom {
    margin-left: 350px;
    justify-content: space-around;
}

.fa-pinterest,
.fa-instagram,
.fa-tiktok,
.fa-youtube {
    color: white;
    padding: 3px;
   font-size: 12px;
    margin-right:8px;
}

.icons {
   text-align: right;
}

.base-h4-three {
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

footer {
    font-family: Roboto;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    height: 50px;

}
/* ========== home.html ========== */
.home-div {
    max-width: 800px; 
    height: 70vh;
}

.home-img{
    width: 100%;
    height: auto;
    margin: -50px -200px 0px 170px;
   
}
/* ========== about.html ========== */
.about-img {
    width: 80%;
    margin-left: -70px;
    margin-top: -100px;
}

.about-p, .about-p-top  {
    font-family: Roboto;
    font-size: 12px;
    margin: 0px 50px 0px 350px
}

.about-p-top {
    margin-top: -200px;
}

hr {
    margin-left: 310px;
    margin-right: 310px;
    margin-top: 30px;
    height: 1px;
    border-width: 0;
    color: black;
    background-color: black;
}

.about-h1 {
    text-align: center;
    font-family: UnifrakturMaguntia;
}

.about-h4 {
    font-family: Roboto;
    font-weight: bolder;
    text-align: center;
}

/* ========== index.html ========== */
.index-img {
    
    text-align: center;
    margin-top: -60px;
    margin-left: -150px;
    padding-top: 20px;
}
.idx-img {
    width: 20%;
    margin-left: 80px;
    transform: rotate(-10deg);
    border: 5px solid rgba(232, 232, 232);
    box-shadow: 2px 2px 2px rgba(77, 82, 84, 0.7);
}

.idx-imgtwo {
    width: 20%;
    /* margin-left: 80px; */
    float: right;
    margin-top: -250px;
    margin-right: 60px;
    transform: rotate(10deg);
    border: 5px solid rgba(232, 232, 232);
    box-shadow: 2px 2px 2px rgba(77, 82, 84, 0.7);
}

.index-div {
    height: 40vh;
}

.index-a {
    text-decoration: none;
}

.index-a:hover, .index-a:active {
    color: rgb(115, 254, 183);
    font-size: 150%;
}


.index-div {
    max-width: 900px;
    line-height: 0;
    margin-left: 180px;
    margin-top: 20px;
}

.index-button {
    margin-left: 520px;
    font-family: Roboto;
    padding: 12px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 9px;
}

.index-button:hover {
    margin-left: 520px;
    font-family: Roboto;
    padding: 12px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 9px;

}

.index-h1 {
    text-align: center;
    font-family: UnifrakturMaguntia;
}
/* ========== detail.html ========== */
.detail-h6{
    font-family: Roboto;
    text-align: center;
    font-weight: bolder;
}

.detail-h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
}

section {
    padding: 0 100px ;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    
}

.content .left {
    width: 45%;
}

 .content .left .detail-img {
    width: 80%;
    border: 5px solid rgba(232, 232, 232);
    box-shadow: 2px 2px 2px rgba(77, 82, 84, 0.7);
}
.content .right {
    width: 40%;
   
}

.content .right .detail-p {
    line-height: 1.5;
    font-family: Roboto;
    text-align: justify;
    font-size: 12px;
}

.detail-button {
    margin-left: 35px;
    font-family: Roboto;
    padding: 8px;
    border: none;;
    background-color: rgba(77, 82, 84);
    color: white;
    border-radius: 10px;
    font-size: 11px;  
}

.detail-button-two {
    font-family: Roboto;
    padding: 8px;
    border: none;;
    background-color: rgba(77, 82, 84);
    color: white;
    border-radius: 10px;
    font-size: 11px;  
}

 .detail-button:hover, .detail-button-two:hover {
    font-family: Roboto;
    padding: 8px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    font-size: 11px
}

.detail-like {
    margin-left: 35px;
    font-family: Roboto;
    padding: 8px;
    border: none;;
    background-color: rgba(77, 82, 84);
    color: white;
    border-radius: 10px;
    font-size: 11px;  
}

.detail-like:hover {
    font-family: Roboto;
    padding: 8px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    font-size: 11px
}

.detail-form {
    font-family: Roboto;
    font-size: 12px;
}

.detail-comment {
    font-family: Roboto;
    font-weight: bolder;
    text-align: center;
    
}

.detail-div {
    font-family: Roboto;
    margin: 10px;
    text-align: center;
}

a {
    color: black;
}

.detail-strong {
    font-size: 11px;
}

.detail-p-two {
    font-size: 13px;
}
/* ========== add_comment.html ========== */
.comment-h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
}

.comment-form {
    margin-left: 100px;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 100px;
}

.form-control {
    margin: 20px;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid black;
}

.form-control-two {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid black;
}

.comment-input {
    margin-top: 50px;
    font-family: Roboto;
    padding: 8px;
    border: none;;
    background-color:black;
    color: white;
    border-radius: 10px;
    font-size: 15px;  
}

.comment-input:hover {
    font-family: Roboto;
    padding: 10px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px
}

.form-control:focus, .form-control-two:focus {
    outline: 1px solid transparent;
    border: 1px solid black;
    background-color: transparent;
}

.comment-img {
    width: 25%;
    float: right;
    margin-top: 90px;
    margin-right: 90px;
    transform: rotate(9deg);
    border: 5px solid rgba(232, 232, 232);
    box-shadow: 2px 2px 2px rgba(77, 82, 84, 0.7);
}
/* ========== search_posts.html ========== */
.search-h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
}

.search-div {
   height: 60vh;
   text-align: center;
   margin-top: 15px;
}

.search-a {
    text-decoration: none;
    font-family: Roboto;
    font-weight: bolder;
}

/* ========== new.html ========== */
.form-post[type=file]::file-selector-button {
    color: white;
    font-family: Roboto;
    border: none;
    background-color: rgba(77, 82, 84, 0.8);
    border-radius: 8px;
}

.form-post {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 15px;
    padding: 8px;
}

.form-post-two {
    margin: 20px;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 18px;
    border: 1px solid black;
}

.form-post-two:focus {
    outline: 1px solid black;
    border: 1px solid black;
    background-color: transparent;
}

.new-h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
}
.new-form {
    margin-left: 100px;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 15px;
    margin-top: -160px;
    max-width: 150px;
}

.new-input {
    font-family: Roboto;
    padding: 10px;
    border: none;;
    background-color: rgba(77, 82, 84);
    color: white;
    border-radius: 11px;
    font-size: 15px; 
    margin-top: 15px; 
}

 .new-input:hover {
    font-family: Roboto;
    padding: 8px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 11px;
    font-size: 15px
}

.new-img {
    width: 27%;
    margin-left: 600px;
    margin-top: 20px;
    border: 5px solid rgba(232, 232, 232);
    box-shadow: 2px 2px 2px rgba(77, 82, 84, 0.7);
}
/* ========== edit.html ========== */
.edit-form {
    margin-left: 100px;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 11px;
    margin-top: 50px;
    max-width: 900px;
}

.form-update-two {
    margin: 20px;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 11px;
    border: 1px solid black;
}

.form-update[type=file]::file-selector-button {
    color: white;
    font-family: Roboto;
    border: none;
    background-color: rgba(77, 82, 84, 0.8);
    border-radius: 3px;
    font-size: 11px;
}
.form-update {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 11px;
    padding: 8px;
}

.edit-h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
}

.edit-input {
    font-family: Roboto;
    padding: 8px;
    border: none;;
    background-color: rgba(77, 82, 84);
    color: white;
    border-radius: 11px;
    font-size: 11px; 
  margin: 20px
}

 .edit-input:hover {
    font-family: Roboto;
    padding: 8px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 11px;
    font-size: 11px
}
/* ========== jewelry.html ========== */
.jewelry-img {
    width: 26%;
    margin-left: 80px;
    transform: rotate(-20deg);
    border: 5px solid rgba(232, 232, 232);
    box-shadow: 2px 2px 2px rgba(77, 82, 84, 0.7);
}
.jewelry-h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
}

.jewels {
    width: 25%;
    margin: 5px; 
    border: 5px solid rgba(232, 232, 232);
}

.jewels:hover {
    box-shadow: 2px 2px 2px 2px rgba(77, 82, 84, 0.7);  
}

.jewelry-area {
    max-width: 800px;
    margin-top: -80px;
    margin-left: 360px;
}

/* ========== beauty.html ========== */
.beauty {
    width: 25%;
    margin-left: 80px;
    transform: rotate(-20deg);
    border: 5px solid rgba(232, 232, 232);
    box-shadow: 2px 2px 2px rgba(77, 82, 84, 0.7);
}

.beauty-h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
}

.beauty-img {
    width: 25%;
    margin: 5px; 
    border: 5px solid rgba(232, 232, 232);
}

.beauty-img:hover {
    box-shadow: 2px 2px 2px 2px rgba(77, 82, 84, 0.7); 
}

.beauty-area {
    max-width: 800px;
    margin-top: -200px;
    margin-left: 360px;
}
/* ========== login.html ========== */

.login-div {
    margin-left: 80px;
    color: black;
}
.login {
    font-family: UnifrakturMaguntia;
    text-align: center;
}

.login-form, .login-p {
    font-family: Roboto; 
}

.login-p {
    font-family: Roboto;
    
}

.login-input {
    font-family: Roboto;
    padding: 8px;
    border: none;;
    background-color: black;
    color: white;
    border-radius: 11px;
    font-size: 15px; 
    margin-top: 15px; 
}

.login-input:hover {
    font-family: Roboto;
    padding: 8px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 11px;
    font-size: 15px
}

/* ========== register.html ========== */

.signup-h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
}

.signup-form {
    font-family: Roboto; 
    font-size: 13px;
    margin-left: 10px;
    max-width: 800;
}

.signup-input {
    font-family: Roboto;
    padding: 8px;
    border: none;;
    background-color: black;
    color: white;
    border-radius: 11px;
    font-size: 15px; 
    margin-top: 15px; 
}

.signup-input:hover {
    font-family: Roboto;
    padding: 8px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 11px;
    font-size: 15px
}

.register-div {
    font-family: Roboto;
}
/* ========== delete.html ========== */
.delete-div {
    height: 65vh;
  
}
.delete-h1 {
    font-family: UnifrakturMaguntia;
    text-align: center;
}

.delete-input {

    font-family: Roboto;
    padding: 8px;
    border: none;;
    background-color: black;
    color: white;
    border-radius: 11px;
    font-size: 12px; 
    margin-top: 15px; 
}

.delete-input:hover {
    font-family: Roboto;
    padding: 8px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    border-radius: 11px;
    font-size: 12px
}

.delete-a {
    color: black;
    padding: 20px;
}

.delete-form {
    font-family: Roboto;
    margin-left: 200px;
    margin-top: -250px
}

.delete-img {
    width: 25%;
    margin-left: 580px;
    margin-top: 100px;
    /* transform: rotate(-20deg); */
    border: 5px solid rgba(232, 232, 232);
    box-shadow: 2px 2px 2px rgba(77, 82, 84, 0.7);
}
