* {
    box-sizing: border-box;
    margin: 0;
 
}   

/* ========== base.html ========== */
.base-header {
    background-color: black;
    height: 50px ;
}

.base-logo {
    font-family: UnifrakturMaguntia;
    font-size: 40px;
    margin: 12px;
}

.base-h4, .base-h4-two {
    font-family: Roboto;
    font-size: 18px;
    margin-left: 60px;
}

.base-h4-two {
    margin-top: 8px;
    margin-left: 109px;
}

.base-anchor {
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-size: 13px; 
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin-left: 490px;
    margin-top: 10px;  
}

li {
    display: inline;
    padding: 5px;
}

.search {
    margin-top: 10px;
    margin-right: 10px;
}

.search-inpt {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 12px;
} 

.search-inpt::placeholder{
    color: white;
    font-family: roboto;
    font-size: 10px;
    text-align: center;
    padding: 2px;
}

.fa-search {
    color: white;
}

.search-btn { 
    background-color: transparent;
    border: none;
}

.div-bottom {
    background-color: black ;
}

.nav-bottom {
    margin-left: 350px;
    justify-content: space-around;
}

.fa-pinterest,
.fa-instagram,
.fa-tiktok,
.fa-youtube {
    color: white;
    padding: 3px;
   font-size: 12px;
    margin-right:8px;
}

.icons {
   text-align: right;
}

.base-h4-three {
    font-family: Roboto;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

footer {
    font-family: Roboto;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    font-weight: bolder;

}
/* ========== detail.html ========== */
.detail-anchor {
    color: black;
}